@{
    ViewBag.Title = "Erreur";
}

<div class="jumbotron">
    <h1>Page d'erreur @ViewBag.Erreur</h1>
    <p class="lead">
        Une erreur est survenue lorsque vous avez utilisez l'application.
        Veuillez nous excuser du contre temps.
    </p>
</div>